[build]
  command = "npm run build"
  publish = "bridge-frontend/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  values = { 
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload",
    X-Content-Type-Options = "nosniff",
    X-Frame-Options = "SAMEORIGIN",
    Referrer-Policy = "strict-origin-when-cross-origin"
  }